.all-courses {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.course-info {
  margin-bottom: 10px;
  display: flex;
  width: 320px;
  height: 430px;
  flex-wrap: nowrap;
  flex-direction: column;
  border: 1px solid rgb(21, 155, 21);
  border-radius: 3px;
  padding: 5px;
  justify-content: flex-start;
  align-items: flex-start;
  transition-duration: 1ms;
  background-color: #dff0d8;
}

.course-img > img {
  width: 300px;
  border-radius: 3px;
}

.course-desc,
.course-desc > p {
  width: 100%;
}
